table.table.table-bordered.table-hover
    thead
        tr
            th STT
            th Tên sinh viên
            th MSSV
            th Ngày sinh
            th Số điện thoại
            th Điểm danh
            //- th Điểm giữa kì         
            //- th Điểm cuối kì
            th
    tbody
        if student_classes.length <=0        
            tr
                td(colspan='7' style='text-align: center;') Chưa có sinh viên nào.
        else
            - var STT=0
            each item in student_classes
                tr
                    td #{STT=STT+1}
                    td #{item.first_name+" "+item.last_name}
                    td #{item.mssv}
                    td #{item.birthday}
                    td #{item.phone}
                    td #{item.get('count')?item.get('count'):0}
                    //- td #{item.mid_semester?item.mid_semester:''}
                    //- td #{item.mid_semester?item.mid_semester:''}
                    td
                        button#deleteStuInCla.btn.btn-danger(type='button' title='Xóa Danh Mục' onclick='deleteStuInClass('+item.id+')')
                            i.far.fa-trash-alt
