#editClassModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editDetailclass' aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content(style='color: #007bff')
            .modal-header(style='background-color: #17a2b8')
                h5.modal-title(style='color: white;')
                    i.far.fa-edit(aria-hidden='false')
                    |   Chỉnh sửa lớp học
                button.close(type='button' data-dismiss='modal' aria-label='Close' style='color: white;' )
                    span(aria-hidden='true') &times;
            .modal-body(style='margin-bottom:20px;background-color: #f3f5f9;')
                .row(style='margin-bottom:20px;')
                    mixin propEditClass(id,title,type,value)
                        .row(style='margin-top:20px;')
                            label.col-md-6.col-sm-6.col-6(style='padding-top:6px;padding-right:10px;') #{title}:
                            .col-md-6.col-sm-6.col-6(style='margin-bottom:20px;')
                                input.form-control(type=type id=id maxlength="50" value=value)   
                    .col-md-6.col-sm-6.col-6
                        +propEditClass('txtEditSubjectCode','Mã môn học','text',classes.Subject.subject_code)
                        +propEditClass('txtEditTeacherPhone','Số điện thoại giáo viên','text',classes.Teacher!=null?classes.Teacher.phone:'')
                    .col-md-6.col-sm-6.col-6
                        .row(style='margin-top:20px;margin-bottom:50px;')   
                            label.col-md-4.col-sm-4.col-4(style='padding-top:6px;padding-right:10px;') Trạng thái:
                            .col-md-7.col-sm-7.col-7
                                select#editStuClassStatus.form-control(name='status' )
                                    option(value='') --Lựa chon--
                                    option(value='0') Đã bị hủy
                                    option(value='1') Đang học
                                    option(value='2') Đã hoàn thành
                    .row.col-md-12(style='margin-bottom:20px;margin-top:20px')
                        label.col-md-2.col-sm-2.col-2 Lịch học:
                        .col-md-6.col-sm-6.col-6
                            input#editSchedule1.form-control(type='text' 
                                value=classes.Schedule_classes[0].schedule)   
                            input#editSchedule2.form-control(type='text' style="margin-top:20px" 
                                value=classes.Schedule_classes.length>1?classes.Schedule_classes[1].schedule:""  )  
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
                button.btn.btn-danger(type='button' onclick='saveClass('+classes.id+')') Lưu
script(type='text/javascript').
    $(document).ready(function(){
        $("#editStuClassStatus").val(#{classes.status})
    });